
#hbz-submitz {
overflow: visible;
position: relative;
border: none;
padding: 0;
border-radius: 13px;
cursor: pointer;
height: 30px;
width: 100px;
font: bold 15 px /40 px "lucida sans", "trebuchet MS", "Tahoma";
color: #FFF;
text-transform: uppercase;
background-image: linear-gradient(to right, #e10909, #f31919);
}
 #hbz-submitzz {
 
overflow: visible;
 margin-top:5px;
position: relative;
border: solid 1px;
padding: 0;
border-radius: 13px;
cursor: pointer;
height: 30px;
width: 100px;
font: bold 15 px /40 px "lucida sans", "trebuchet MS", "Tahoma";
color: black;
text-transform: uppercase;
background-image: linear-gradient(to right, #09d7e1, #bdf319);
}
#hbz-submitzz{
   
}