


#preview img{
    width: 40%;
    height: 25%;
    
}

#screenshot1 img{
    width: 40%;
    height: 25%;
}

#screenshot2 img{
    width: 40%;
    height: 25%;
}

#screenshot3 img{
    width: 40%;
    height: 25%;
}